.fullreseaux
{
	width: 100%;
	background-color: white;
	color: black;
}

.title-reseaux
{
	padding-top: 10px;
	padding-left: 10%;
	font-size: 4vw;
}

.main-reseaux
{
	width: 70%;
	float: left;
	margin-left: 15%;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 20px;
}

.instagram
{
	background: url("./img/instagram.png");
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 10%;
	height: 15%;
	margin-right: 10%;
}

.linkedin
{
	background: url("./img/linkedin.png");
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 20%;
	height: 15%;
	margin-right: 10%;
	margin-top: 17px;
}

.github
{
	background: url("./img/github.png");
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 20%;
	height: 15%;
	margin-right: 10%;
	margin-top: 8px;
}

.youtube
{
	background: url("./img/youtube.png");
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 20%;
	height: 15%;
	margin-top: 20px;
}
