@import '../../../../node_modules/npm-font-open-sans/open-sans.css';

body {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
   user-select: none;
}

.title {
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
}

.texte {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}
