.fullreseaux
{
	width: 100%;
	background-color: white;
	color: black;
}

.title-reseaux
{
	padding-top: 10px;
	padding-left: 10%;
	font-size: 4vw;
}

.main-reseaux
{
	width: 70%;
	float: left;
	margin-left: 15%;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 20px;
}
.instagram
{
	margin-left: 15%;
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 10%;
	margin-right: 10%;
}

.linkedin
{
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 10%;
	margin-right: 10%;
}

.github
{
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 10%;
	margin-right: 10%;
}

.youtube
{
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	width: 10%;
	margin-right: 10%;
}
