.modale-back-stage{
  width: 50vw;
  height: 50vh;
}
.modale-title-stage{
font-weight: 700;
font-size: 3vw;
padding-top: 4.5vh;
padding-left: 1vw;
}
.modale-entreprise-stage{
  font-size: 1.4vw;
  margin-top: 2vh;
  margin-left: 2vw;
}
.modale-lieu-stage{
  font-size: 1.4vw;
  margin-top: 4vh;
  margin-left: 2vw;
}
.modale-projet-stage{
  font-size: 1.4vw;
  margin-top: 2vh;
  margin-left: 2vw;
  width: 38vw;
}
