

.menu-hover{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  height: 300px;
  width: 400px;
  background-color: red;
  border-bottom-left-radius: 350px 250px;
}
.menu-top-right{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  top: 30;
  right: 30;
  width: 180;
  z-index: 9999;
  display: block;
  background-color: white;
}

.setting-icon{
  z-index: 99990;
  height: 40px;
  position: absolute;
  top: 5;
  right: 5;
  -webkit-transform: rotate(0deg);
  transition: all 0.4s  ease-in-out;
-webkit-transition: all 0.4s  ease-in-out;
-moz-transition: all 0.4s  ease-in-out;
-o-transition: all 0.4s  ease-in-out;
}

.menu-hover:hover .setting-icon{
  -webkit-transform: rotate(-180deg);
  right: 135;
  transition: all 0.4s  ease-in-out;
-webkit-transition: all 0.4s  ease-in-out;
-moz-transition: all 0.4s  ease-in-out;
-o-transition: all 0.4s  ease-in-out;
}

@-webkit-keyframes rotating {
    from{
      -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-180deg);
    }
}


@-webkit-keyframes rotating2 {
    from{
      -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(180deg);
    }
}
