.fullprojet
{
	width: 100%;
	background-color: white;
	color: black;
}

.title-projet
{
	padding-top: 10px;
	padding-left: 10%;
	font-size: 4vw;
}

.main-projet
{
	width: 80%;
	float: left;
	margin-left: 10%;
	margin-bottom: 30px;
}

/* -----------------------------Classique----------------------------- */
.superviseur-bouton
{
	width: 25%;
	height: 20vh;
	margin-right: 12.5%;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

.cv-bouton
{
	width: 25%;
	margin-right: 12.5%;
	height: 20vh;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

.websolea-bouton
{
	width: 25%;
	height: 20vh;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

/* -----------------------------More----------------------------- */
.superviseur-bouton-more
{
	width: 35%;
	height: 20vh;
	margin-right: 12.5%;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

.cv-bouton-more
{
	width: 35%;
	margin-right: 12.5%;
	height: 20vh;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

.websolea-bouton-more
{
	width: 35%;
	height: 20vh;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

/* -----------------------------Less----------------------------- */
.superviseur-bouton-less
{
	width: 20%;
	height: 20vh;
	margin-right: 12.5%;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

.cv-bouton-less
{
	width: 20%;
	margin-right: 12.5%;
	height: 20vh;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

.websolea-bouton-less
{
	width: 20%;
	height: 20vh;
	float: left;
	background-color: #262626;
	position:relative;
	cursor: pointer;
	transition: all 0.3s;
}

.texte-projet
{
	color: white;
	font-size: 2vw;
	text-align: right;
	position:absolute;
	bottom:10;
	right:10;
}

.hr-projet
{
	margin-top: 25vh;
	width: 50%;
	height: 5px;
	background-color: #262626;
	box-shadow:none;
	border:0 none;
	outline:0;
	border-radius: 2.5px;
}

.more-projet
{
	text-align: center;
	font-size: 2vw;
	padding-top: 10px;
}

.title-superviseur
{
	font-size: 3vw;
	margin-left: 3%;
	margin-top: 5vh;
}

.description-superviseur
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.technologie-superviseur
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.youtube-superviseur
{
	text-align: center;
	margin-top: 4vh;
}

.title-cv
{
	font-size: 3vw;
	margin-left: 3%;
	margin-top: 5vh;
}

.description-cv
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.technologie-cv
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.demo-cv
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.git-cv
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.title-websolea
{
	font-size: 3vw;
	margin-left: 3%;
	margin-top: 5vh;
}

.description-websolea
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.technologie-websolea
{
	margin-top: 3vh;
	font-size: 1.2vw;
}

.git-websolea
{
	margin-top: 3vh;
	font-size: 1.2vw;
}
